*
!.gitattributes
!.gitignore
!fetch.sh
!package.json
!README.md
!solve.js
!utilities.js
!2???/
!2???/Day */
!2???/Day */*
!2???/Day */tests/*
2???/Day */README.md
2???/Day */input.txt
2???/**/*.png
**/.DS_Store